<!DOCTYPE html>
<html lang="pl">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Wydatek</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Dodaj Wydatek</h1>
        <form method="POST">
            <label for="chapter">
                Dział
                <select id="chapter" name="chapter" hx-get="/fragment/section/chapter" hx-target="#section" required>
                    <option value="" selected disabled>Wybierz dział</option>
                    <option value="750">Administracja i bezpieczeństwo</option>
                    <option value="801">Edukacja i wychowanie</option>
                    <option value="851">Ochrona zdrowia</option>
                </select>
            </label>

            <label for="section">
                Rozdział
                <select id="section" name="section" required>
                    <option value="" selected disabled>Wybierz rozdział</option>

                </select>
            </label>

            <label for="task_name">
                Nazwa zadania
                <input type="text" id="task_name" name="task_name" placeholder="Np. Zakup materiałów biurowych"
                    required>
            </label>

            <label for="financial_needs">
                Potrzeby finansowe (PLN)
                <input type="number" id="financial_needs" name="financial_needs" placeholder="0" min="0" step="1"
                    required>
            </label>

            <button type="submit">Dodaj</button>
        </form>
        <a href="/">Powrót do strony głównej</a>
    </main>
</body>

</html>