{% extends "base.html" %}

{% block title %}Dodaj Wydatek{% endblock %}
{% block content %}
<h1>Dodaj Wydatek</h1>
<form method="POST">
    <label for="chapter">
        Dział
        <select id="chapter" name="chapter" hx-get="/fragment/section/chapter" hx-target="#section" required>
            <option value="" selected disabled>Wybierz dział</option>
            <option value="750">750 - Administracja i bezpieczeństwo</option>
            <option value="801">801 - Edukacja i wychowanie</option>
            <option value="851">851 - Ochrona zdrowia</option>
        </select>
    </label>

    <label for="section">
        Rozdział
        <select id="section" name="section" required>
            <option value="" selected disabled>Wybierz rozdział</option>

        </select>
    </label>

    <label for="task_name">
        Nazwa zadania
        <input type="text" id="task_name" name="task_name" placeholder="Np. Zakup materiałów biurowych" required>
    </label>

    <label for="financial_needs">
        Potrzeby finansowe (tys. zł)
        <input type="number" id="financial_needs" name="financial_needs" placeholder="0" min="0" step="1" required>
    </label>

    <button type="submit">Dodaj</button>
</form>
{% endblock %}