<!DOCTYPE html>
<html lang="pl">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="{{ url_for('static', filename='expander.js') }}"></script>
    {% endblock %}
</head>

<body>
    <main class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <article
            style="background-color: #ffe6e6; border-color: #ffcccc; color: #cc0000; padding: 1rem; margin-bottom: 1rem;">
            {{ message }}
        </article>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div style="text-align: right; margin-bottom: 1rem;">
            <a class="outline" role="button" href="/" style="color: gray;">Wybierz rolę</a>
        </div>

        {% block content %}
        {% endblock %}
    </main>
    {% block scripts %}{% endblock %}
</body>

</html>