<!DOCTYPE html>
<html lang="pl">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="{{ url_for('static', filename='expander.js') }}"></script>
    {% endblock %}
</head>

<body>
    <main class="container">
        <a href="/">Wybierz rolę</a>
        <br>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
