{% extends "base.html" %}

{% block title %}Lista Wydatków{% endblock %}

{% block content %}
<h1>Lista Wydatków</h1>
<figure>
    <table role="grid">
        <thead>
            <tr>
                <th scope="col">Rozdział</th>
                <th scope="col">Nazwa zadania</th>
                <th scope="col">Potrzeby finansowe</th>
            </tr>
        </thead>
        <tbody>
            {% if not expenses %}
            <tr>
                <td colspan="3">Brak wydatków</td>
            </tr>
            {% else %}
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.chapter }}</td>
                <td>{{ expense.task_name }}</td>
                <td>{{ expense.financial_needs }} tys. zł</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        {% if expenses_sum %}
        <tfoot>
            <tr>
                <td colspan="2">Suma</td>
                <td>{{ expenses_sum }} tys. zł</td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</figure>
{% if state.status == PlanningStatus.NOT_STARTED %}
<article>
    <header>Proces planowania nie został otwarty</header>
    Dyrektor (Chief) musi otworzyć proces planowania, zanim będzie można dodawać wydatki.
</article>
{% elif state.status == PlanningStatus.IN_REVIEW %}
<article>
    <header>Status</header>
    Proces jest w trakcie przeglądu przez Ministerstwo. Nie można dodawać nowych wydatków.
</article>
{% elif closed %}
<article>
    <header>Status</header>
    Lista jest zamknięta. Nie można dodawać nowych wydatków.
</article>
{% else %}
<div class="grid">
    <div>
        <a href="/expenses/add" role="button" style="width: 100%;">Dodaj nowy wydatek</a>
    </div>
    <div>
        <form action="/expenses/close" method="POST" style="display: inline;">
            <button type="submit" role="accept" class="secondary">Wyślij do akceptacji</button>
        </form>
    </div>
    <div>
      <form action="/expenses/import" method="POST">
        <button type="submit" class="secondary">Pobierz dane z pliku</button>
      </form>

    </div>
</div>
{% endif %}
{% endblock %}
