:root {
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
    --pico-padding: 0.75rem;
}

*[role*="accept"] {
    background-color: var(--pico-color-green-500);
}

*[role*="reject"] {
    background-color: var(--pico-color-red-500);
}

.expense-details {
    padding: 0;
}

.show-office-details {
    width: 100%;
}


/* Validation Styles */
.was-validated input:invalid,
.was-validated select:invalid {
    border-color: red;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5zM6 8.2a.6.6 0 110-1.2.6.6 0 010 1.2z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated label {
    position: relative;
}

.was-validated label:has(:invalid) {
    color: red;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.invalid-feedback {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    width: auto;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: -0.75rem;
    /* Closer to the input */
    font-size: 0.875rem;
    color: #fff;
    background-color: rgba(220, 53, 69, 0.9);
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.was-validated :invalid~.invalid-feedback {
    display: block;
    animation: fadeOut 6s forwards;
    /* Fade out after 4 seconds */
}

/* File Input Validation */
.was-validated .file-input:invalid~label {
    border-color: var(--pico-color-red-500);
    color: var(--pico-color-red-500);
    border-width: 2px;
    border-style: solid;
}

.was-validated .file-input:invalid~label:hover {
    background-color: var(--pico-color-red-600);
    color: white;
}

button.halfsize {
    width: 50%;
}

button.center {
    justify-self: center;
}

form.centered {
    display: grid;
}

.header-with-icon {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}