name: Build docker image and publish to lambda

permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: "Run checks and build docker image"
    runs-on: ubuntu-latest
    steps:

    - name: Checkout the code
      uses: actions/checkout@v5

    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: 3.13
    
    - name: Install dependencies
      run: |
        poetry install

    - name: Run virtual env
      uses: abatilo/actions-poetry@v3
      with:
        poetry-version: 2.2.1
    
    - name: Install dependencies
      run: |
        python -m playwright install chromium-headless-shell
    
    - name: Run lint and tests
      run: |
        make lint
        make test
